[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "KOFM"]
	path = KOFM
	url = https://github.com/cran/KOFM
[submodule "MEFM"]
	path = MEFM
	url = https://github.com/cran/MEFM
[submodule "tensorMiss"]
	path = tensorMiss
	url = https://github.com/cran/tensorMiss
